.form {

  .input-before {
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translate(0, -50%);
    }
  }

  .flex-content {
    gap: 16px;
    margin-top: 16px;

    .btn {
      flex: 1;
    }

  }
}
